* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
html {
  font-family: "Poppins", serif;
}

body {
  background-color: var(--bg-color);
}

.container {
  padding: 3rem 5rem;
  position: relative;
}

.word {
  letter-spacing: 1px;
  color: var(--sub-color);
  display: inline-block;
  /* margin: 0 5px; */
}

.letter {
  display: inline-block;
}

.space {
  margin-right: 5px;
  height: 18px;
  display: inline-block;
}

.letter.correct {
  color: #fff;
}

.letter.incorrect {
  color: rgb(255, 72, 55);
}

.letter.current {
  position: relative;
}

.letter.current::before {
  position: absolute;
  top: 50%;
  /* left: 50%; */
  transform: translate(-50%, -50%);
  content: " ";
  width: 2px;
  height: 100%;
  background-color: rgba(255, 255, 0, 0.562);

  animation: blink-cursor infinite 600ms;
}

@keyframes blink-cursor {
  0% {
    opacity: 0;
    /* height: 20%; */
  }
  50% {
    opacity: 1;
    /* height: 100%; */
  }
  100% {
    opacity: 0;
    /* height: 20%; */
  }
}
